APP_NAME=RemindMe
BUNDLE_ID=com.samirpatil.RemindMe
DEPLOY_TARGET=15.0
APPLE_ID=samirspatil2000@gmail.com
TEAM_ID=TEAMID
SIGN_IDENTITY="Developer ID Application: Samir Patil (TEAMID)"
NOTARY_PROFILE=remindme-notary
